.sign-in {
	width: 380px;
	margin: 0 15px;
	display: flex;
	flex-direction: column;

	.title {
		margin: 10px 0;
	}

	.button-container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
}

@media only screen and (max-width: 600px) {
	.sign-in {
		width: 100%;
		margin: 0 auto;
		display: flex;
		flex-direction: column;

		.title {
			margin: 10px auto;
		}
		.subtitle {
			margin: 0px auto;
		}

		.button-container {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
		}
		button {
			margin: 5px;
		}
	}
}
