.header {
	height: 70px;
	width: 100%;
	align-self: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	padding: 10px 15px;

	.logo-container {
		height: 50px;
		width: 50px;
		margin-left: 30px;
		margin-top: 10px;
	}

	.options {
		width: 75%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.option {
			cursor: pointer;
			padding: 10px 15px;
		}
	}
}

@media only screen and (max-width: 600px) {
	.header {
		height: 70px;
		width: 100%;
		align-self: center;
		display: flex;
		justify-content: space-between;
		margin-bottom: 25px;
		padding: 10px 10px;

		.logo-container {
			height: 50px;
			width: 50px;
			position: absolute;
			left: -10px;
			top: 0px;
		}

		.options {
			width: 70%;
			height: 100%;
			margin-right: 10px;
			display: flex;
			align-items: center;
			justify-content: flex-end;

			.option {
				cursor: pointer;
				width: 100%;
				padding: 0px 0px;
			}
		}
	}
}
