.header {
	height: 70px;
	width: 95%;
	align-self: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 25px;
	padding: 10px 15px;

	.logo-container {
		height: 50px;
		width: 50px;
		margin-left: 30px;
		margin-top: 10px;
	}

	.options {
		width: 50%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		.option {
			cursor: pointer;
			padding: 10px 15px;
		}
	}
}
