.sign-in-and-sign-up {
	width: 850px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

@media only screen and (max-width: 600px) {
	.sign-in-and-sign-up {
		width: 95%;
		margin: 0 auto;

		flex-direction: column;
		justify-content: space-evenly;
		margin-bottom: 30px;
	}
}
